@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.statscard1d{
  box-shadow: -5px 5px 10px rgba(25, 25, 25, 0.2), 5px -5px 10px rgba(25, 25, 25, 0.2), -5px -5px 10px rgba(31, 31, 31, 0.9), 5px 5px 13px rgba(25, 25, 25, 0.9), inset 1px 1px 2px rgba(31, 31, 31, 0.3), inset -1px -1px 2px rgba(25, 25, 25, 0.5);
}
.statscard1{
  box-shadow: -4.3943px 4.3943px 8.7886px rgba(230, 230, 230, 0.2), 4.3943px -4.3943px 8.7886px rgba(230, 230, 230, 0.2), -4.3943px -4.3943px 8.7886px rgba(255, 255, 255, 0.9), 4.3943px 4.3943px 11.4252px rgba(230, 230, 230, 0.9), inset 0.87886px 0.87886px 1.75772px rgba(255, 255, 255, 0.3), inset -0.87886px -0.87886px 1.75772px rgba(230, 230, 230, 0.5);}
.box1d{
  box-shadow: -20px 20px 40px rgba(25, 25, 25, 0.2), 20px -20px 40px rgba(25, 25, 25, 0.2), -20px -20px 40px rgba(31, 31, 31, 0.9), 20px 20px 50px rgba(25, 25, 25, 0.9), inset 1px 1px 2px rgba(31, 31, 31, 0.3), inset -1px -1px 2px rgba(25, 25, 25, 0.5);
  border-radius: 18px 85.7915px 85.7915px 18px;
   }
.box1{
  box-shadow: -4.3943px 4.3943px 8.7886px rgba(230, 230, 230, 0.2), 4.3943px -4.3943px 8.7886px rgba(230, 230, 230, 0.2), -4.3943px -4.3943px 8.7886px rgba(255, 255, 255, 0.9), 4.3943px 4.3943px 11.4252px rgba(230, 230, 230, 0.9), inset 0.87886px 0.87886px 1.75772px rgba(255, 255, 255, 0.3), inset -0.87886px -0.87886px 1.75772px rgba(230, 230, 230, 0.5);
  border-radius: 18px 85.7915px 85.7915px 18px;
}
.box2d{
  box-shadow: -20px 20px 40px rgba(25, 25, 25, 0.2), 20px -20px 40px rgba(25, 25, 25, 0.2), -20px -20px 40px rgba(31, 31, 31, 0.9), 20px 20px 50px rgba(25, 25, 25, 0.9), inset 1px 1px 2px rgba(31, 31, 31, 0.3), inset -1px -1px 2px rgba(25, 25, 25, 0.5);

   }
.box2{
  box-shadow: -4.3943px 4.3943px 8.7886px rgba(230, 230, 230, 0.2), 4.3943px -4.3943px 8.7886px rgba(230, 230, 230, 0.2), -4.3943px -4.3943px 8.7886px rgba(255, 255, 255, 0.9), 4.3943px 4.3943px 11.4252px rgba(230, 230, 230, 0.9), inset 0.87886px 0.87886px 1.75772px rgba(255, 255, 255, 0.3), inset -0.87886px -0.87886px 1.75772px rgba(230, 230, 230, 0.5);
}
.container{
  box-shadow: -5px 5px 10px rgba(220, 220, 220, 0.2), 5px -5px 10px rgba(220, 220, 220, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(220, 220, 220, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(220, 220, 220, 0.5);
}
.scrollable thead,
.scrollable tfoot,
.scrollable tbody,
.scrollable th,
.scrollable td
{
	display: block;
	width: 100%;
}

.scrollable thead,
.scrollable tfoot,
.scrollable tbody
{
	overflow-y: scroll;
}

.scrollable thead,
.scrollable tfoot
{
	-ms-overflow-style: none;
}

.scrollable thead::-webkit-scrollbar
{visibility:hidden;},
.scrollable tfoot::-webkit-scrollbar
{
	visibility: hidden;
}

.scrollable tbody
{
	max-height: 20em;
	position: relative;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.scrollable tr
{
	display: flex;
}

.scrollable tbody th,
.scrollable tbody td
{
	border-top: none;
}

.scrollable th:not(:last-child),
.scrollable td:not(:last-child)
{
	border-right: none;
}

